.App {
  text-align: center;
  background-color: #8a2be2; /* Vibrant purple background */
  color: white; /* White text for contrast */
  font-family: 'Arial', sans-serif; /* Modern, readable font */
}

.App-header {
  background-color: #8a2be2;
  padding: 20px;
  color: white; /* Ensures text is white as in the screenshot */
}

.App-nav {
  background: transparent;
  padding: 20px;
}

.nav-link {
  color: #ffdb4d; /* Light yellow color for contrast */
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover, .nav-link.active {
  background-color: #ffffff; /* White background on hover and active */
  color: #8a2be2; /* Purple text when active or hovered */
  border-radius: 5px;
}

.nav-container {
  text-align: center;
  margin-top: 20px;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  color: #ffdb4d; /* Yellow color for links */
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.App-main {
  padding: 50px 20px;
  text-align: left;
  margin: auto;
  width: 80%;
}

button {
  background-color: #ffdb4d; /* Yellow button */
  color: #333;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  display: block; /* Make the button a block element to fill width */
  width: 200px; /* Set a specific width */
  margin-left: auto; /* Center the button horizontally */
  margin-right: auto;
}

button:hover {
  background-color: #e0c042;
}

footer {
  background-color: #333333;
  color: white;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
